@font-face {
  font-family: CursedTimer;
  src: url(assets/fonts/CursedTimerUlil-Aznm.ttf)
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.container {
  width: 575px;
  height: 385px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #1B244A;
  color: white;
}

.container h3 {
  font-size: 2.5rem;
  margin-bottom: 12px;
  margin-top: 40px;
}

.scorebox {
  width: 155px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080001;
  color: #F94F6D;
  font-family: CursedTimer, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5.625rem;
}

#period-wrapper {
  margin-top: 180px;
}

#period-wrapper h4 {
  margin-bottom: 12px;
}

#period {
  width: 75px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080001;
  color: #F94F6D;
  font-family: CursedTimer, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

.score-btn-group {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 155px;
}

.score-btn {
  width: 45px;
  height: 45px;
  color: #9AABD8;
  font-family: CursedTimer;
  font-size: 1.125rem;
  background: transparent;
  border: 1px solid #9AABD8;
  border-radius: 6px;
}

.score-btn:hover {
  border: 4px solid #9AABD8;
}

.game-btn {
  width: 150px;
  height: 35px;
  color: #9AABD8;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border: 1px solid #9AABD8;
  border-radius: 6px;
}

.game-btn:hover {
  border: 4px solid #9AABD8;
}